body,
html,
.App{
  background-color: #121213;
}

.removeButton{
  float: right;
  border-radius: 10px;
  background-color: #FF4146;
  border-style: none;
}

.removeButton:hover{
  background-color: #ff9093;
}