body,
html,
.App{
  background-color: #121213;
}

.removeButton{
  float: right;
  border-radius: 10px;
  background-color: #FF4146;
  border-style: none;
}

.removeButton:hover{
  background-color: #ff9093;
}

.completeButton{
  background-color: green;
  border-radius: 10px;
  float: right;
  margin-right: 10px;
  border-style: none;
}

.completeButton:hover{
  background-color: greenyellow;
}